bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Idea ###
.idea/*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
/.vs/VSWorkspaceState.json
